<div class="container loader " [class.loading]="loading">
    <div *ngIf="item">
        <h1>
        <editable-field
                value="{{item.title}}"
                name="title"
                id="{{item.id}}"
        ></editable-field>
        </h1>
        <img class="mb-2"
             [src]="item.image_url"
             alt="alt">
        <p>{{item.long_desc}}</p>
        <div class="mb-3">
            <span *ngFor="let category of item.categories" class="badge badge-pill badge-primary">{{category.title}}</span>
        </div>
    </div>

    <a routerLink="/">Back</a>

</div>