<div class="card mb-3 loader" [class.loading]="loading">
  <button (click)="onDelete(item.id)"><i class="fas fa-trash-alt"></i></button>
  <a routerLink="{{'/item/' + item.id}}">
  <img class="card-img-top" src="{{item.thumbnail_url}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{item.title}}</h5>
    <p class="card-text"><small class="text-muted">Last updated {{item.updated_at_human}}</small></p>
  </div>
  </a>
</div>