<div class="bg-primary">
  <div class="container mb-4 py-4 font-weight-bold">
    Total items found: <span>{{totalItems}}</span>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-3">
      <categories-list></categories-list>
    </div>
    <div class="col-md-9">
      <items-container
              (itemsListUpdated)="itemsListUpdated($event)"
      ></items-container>
    </div>
  </div>
</div>