<div>
    <mat-button-toggle-group
            class="my-2"
            (change)="selectionChanged($event)"
            #group="matButtonToggleGroup" value="Grid" >
        <mat-button-toggle *ngFor="let item of toggleItemsView;" [value]="item">{{item}}</mat-button-toggle>
    </mat-button-toggle-group>

    <div class="d-flex justify-content-between mb-1">
        <div>
            <button
                    (click)="toggleSortOrder()"
                    class="btn btn-primary p-1 mr-1">
                <i *ngIf="ascending" class="fas fa-sort-amount-up"></i>
                <i *ngIf="!ascending" class="fas fa-sort-amount-down"></i>
            </button>
            <span>Refine by</span>
        </div>
        <button
                (click)="clearFilter()"
                class="btn btn-link">Clear</button>
    </div>
    <span class="title">Categories</span>
    <form *ngIf="categories" [formGroup]="formModel">
        <ul>
            <div
                    class="d-flex justify-content-between"
                    formArrayName="categories"
                    *ngFor="let category of formModel.controls.categories.controls; let i = index">
                <label [class.active]="formModel.value.categories[i]" >
                    <input type="checkbox"
                           (change)="filterChanged()"
                           [formControlName]="i">
                    {{categories[i].title}}
                </label>
                <span>{{categories[i].items_count}}</span>
            </div>


        </ul>

    </form>
</div>
