form {
  padding-top:0.5rem;
  border-top:1px solid darkgrey;
  border-bottom:1px solid darkgrey;
}
.title {
  font-weight:700;
}
button {
  padding:0;
}

label {
  user-select: none;
  cursor:pointer;
  &.active {
    font-weight:700;
    + span {font-weight:700;}
  }
}