<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container collapse navbar-collapse" id="navbarSupportedContent">
    <form
          [hidden]="!showSearch"
          [formGroup]="formModel"
          (submit)="updatedQueryString()"
          class="form-inline mx-auto my-2 my-lg-0">
      <div class="input-group">
        <input
                formControlName="search"
                type="text" class="form-control" placeholder="Search..." aria-label="Search..." aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button
                  class="btn btn-outline-secondary" type="submit"><i class="fas fa-search"></i></button>
        </div>
      </div>

    </form>
  </div>
</nav>
