<div class="table-responsive">


<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Thumbnail</th>
    <th scope="col">Title</th>
    <th scope="col">Short description</th>
    <th scope="col">Publish date</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of items">
    <td><img  src="{{item.thumbnail_url}}" alt="Card image cap"></td>
    <td>{{item.title}}</td>
    <td>{{item.short_desc}}</td>
    <td>{{item.updated_at}}</td>
  </tr>
  </tbody>
</table>
</div>

