/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


ul {
  list-style: none;
  padding:0;
}

.loader {
  position: relative;
  &.loading:before {
    content: ' ';
    background:#ffffffb8;
    width:100%;
    height: 100%;
    position: absolute;
  }
  &.loading:after {
    content: ' ';
    top:50%;
    left:50%;
    width: 7rem;
    height: 7rem;
    background-size: cover;
    transform: translate(-50%,-50%);
    background-image: url(/assets/images/loader.gif);
    background-repeat: no-repeat;
    position: absolute;

  }
}